page-home {
    .list{
        margin:10px;
    }
    [ion-item]{
        padding:10px;
        margin-top:10px;
        background-color:rgba(47, 35, 214, 0.609);
        color:#fff;
    }
    .item p{
        color:#fff;
    }
    .list-header{
        background-color: aqua;
        color: black;
        height: 60px;
    }
 }