<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
 </ion-header>
 
 <ion-content padding class="img">
  <ion-list no-lines>
    <ion-list-header>
      CodeTribe Curriculm
    </ion-list-header>
    <button ion-item *ngFor="let course of arrCourses"(click)="next(course)" detail-none>
        <ion-icon name="{{course.icon}}"item-left></ion-icon>
        <h2>{{course.title}}</h2>
    <h3>Duration:{{course.weeks}} Weeks</h3>
    <div *ngFor='let lessonTitle of course.lessons; let i=index'>

        <p>Lesson: {{i+1}}: {{lessonTitle.title}}</p>
        </div>
    <h3>lessons:{{course.title}} </h3>
      </button>
  </ion-list>
 
 </ion-content>